/* NAV */

.nav {
    top: 0vh;
    background-color: transparent;
}

.nav a {
    color: white;
}

/* CONTAINER */

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.menu-header {
    position: relative;
    height: 100vh;
    width: 100vw
}

.menu-header img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 0% 50;
}

.h1-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,.3);
}

.h1-wrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 15vh;
    color: white;
}

/* MENU SELECTOR */

.menu-selector {
    margin: 5vh 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 50vw;
    list-style: none;
}

.menu-selector li {
    background-color: rgb(212, 233, 217);
    text-align: center;
}

.menu-selector li a {
    display: inline-block;
    width: 10vw;
    padding: 10px 0px;
    color: rgb(26, 189, 75) !important;
    transition: background-color .25s ease, color .25s ease;
}

.menu-selector .active {
    background-color: rgb(88, 204, 123);
    color: white !important;
}

.menu-selector li a:hover {
    background-color: rgb(88, 204, 123);
    color: white !important;
    cursor: pointer;
}

/* MENU */

.menu-title {
    margin-bottom: 5vh;
    font-family: 'Satisfy', cursive;
    font-weight: 700;
    font-size: 50px;
    transition: opacity .5s ease;
}

.menu {
    display: grid;
    margin-bottom: 5vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    width: 45vw;
    min-height: 50vh;
    transition: opacity .5s ease;
}

.menu-item {
    margin-bottom: 2vh;
}

.menu-item h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(107, 167, 125);
    margin-bottom: 1vh;
}

.menu-item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.menu-item .caption {
    margin-top: 1vh;
    text-align: right;
    color: rgb(100, 100, 100);
    font-size: small;
}

/* ORDER SECTION */

.order-section {
    width: 100vw;
    height: 30vh;
    display: flex;
    background-color: rgb(88, 204, 123);
    padding-left: 27.5vw;
    align-items: center;
    clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
}

.order-section h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 50px;
    margin-bottom: 2vh;
}

.order-section .hire-us-green {
    border: 4px solid white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: color .25s ease, background-color .25s ease !important;
    font-size: 24px;
}

.order-section .hire-us-green:hover {
    color: rgb(88, 204, 123);
    background-color: white;
}

/* FOOTER */

.footer {
    background-color: #535657;
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0 25vw;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2vh;
}

.footer-spacer {
    width: 5px;
    height: 4vh;
    background-color: white;
}

/* ORIGINAL HOMEPAGE */

.page-wrapper {
    background-color: rgb(245, 237, 237);
}

.invisible {
    width: 100vw;
    height: 100vh;
}

.homepage-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    z-index: -1;
}

.homepage-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-image {
    position: relative;
    margin-right: 10vw;
    width: 40vw;
}

.homepage-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.homepage-card {
    margin-left: 5vw;
    width: 35vw;
}

.homepage-card h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.homepage-card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-bottom: 5vh;
    font-weight: 300;
}

.homepage-card .hire-us {
    font-size: 24px;
}

.underline {
    padding: 0px 5px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(35,207,87,1) 25%, rgba(35,207,87,1) 35%, rgba(255,255,255,0) 35%);
}