.container {
    display: flex;
    width: 100vw;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 50vw;
    list-style: none;
}

.menu-list li {
    background-color: rgb(212, 233, 217);
    text-align: center;
}

.menu-list li a {
    display: inline-block;
    width: 10vw;
    padding: 10px 0px;
    color: rgb(26, 189, 75) !important;
    transition: background-color .25s ease, color .25s ease;
}

.menu-list .active {
    background-color: rgb(88, 204, 123);
    color: white !important;
}

.menu-list li a:hover {
    background-color: rgb(88, 204, 123);
    color: white !important;
    cursor: pointer;
}

.container h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin-bottom: 5vh;
}