/* NAV */

.nav {
    top: 0vh;
    background-color: transparent;
    pointer-events: all;
}

.nav a {
    color: white;
}

/* CONTAINER */

body {
    pointer-events: none;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.services-header {
    position: relative;
    height: 100vh;
    width: 100vw
}

.services-header img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 0% 50;
}

.h1-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,.3);
}

.h1-wrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 15vh;
    color: white;
}

/* SERVICES */

.services-content {
    width: 100vw;
}

.service {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.service .content, .service .image {
    height: 100vh;
    width: 50vw;
}

.service .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service .content h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.service .content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#special-events .content {
    background-color: rgb(88, 204, 123);
    background-color: #06d6a0;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#weddings .content {
    background-color: rgb(222, 151, 204);
    background-color: #ffd166;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

#corporate .content {
    background-color: rgb(51, 124, 168);
    background-color: #118ab2;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* FOOTER */

.footer {
    background-color: #535657;
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0 25vw;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2vh;
}

.footer-spacer {
    width: 5px;
    height: 4vh;
    background-color: white;
}

/* ORIGINAL HOMEPAGE */

.page-wrapper {
    background-color: rgb(245, 237, 237);
    pointer-events: all;
}

.invisible {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.homepage-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    z-index: -1;
    pointer-events: all;
}

.homepage-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-image {
    position: relative;
    margin-right: 10vw;
    width: 40vw;
}

.homepage-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.homepage-card {
    margin-left: 5vw;
    width: 35vw;
}

.homepage-card h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.homepage-card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-bottom: 5vh;
    font-weight: 300;
}

.homepage-card .hire-us {
    font-size: 24px;
}

.underline {
    padding: 0px 5px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(35,207,87,1) 25%, rgba(35,207,87,1) 35%, rgba(255,255,255,0) 35%);
}
