/* NAV */

.nav {
    top: 0vh;
    background-color: transparent;
    pointer-events: all;
}

.nav a {
    color: white;
}

/* CONTAINER */

body {
    pointer-events: none;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.services-header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.services-header img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 0% 50;
}

.h1-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,.3);
}

.h1-wrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 15vh;
    color: white;
}

/* DIVIDER */

.divider {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 204, 123);
}

.divider h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 50px;
    margin-left: 3vw;
}

.menu-button {
    border: 4px solid white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: color .25s ease, background-color .25s ease !important;
    font-size: 24px;
}

.menu-button:hover {
    color: rgb(88, 204, 123);
    background-color: white;
}

/* SERVICES */

.services-content {
    width: 100vw;
}

.service {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.service .content {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
}

.service .image {
    height: 100vh;
    width: 60vw;
    overflow: hidden;
}

.service img {
    height: 130vh;
    width: 60vw;
    object-fit: cover;
    position: relative;
    top: -30vh;
}

#special-events img {
    object-position: 0% 50%;
}

.service .content h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin-bottom: 2vh;
}

.service .content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}


#special-events .content {
    background-color: #535657;
    color: white;
}

#weddings .content {
    background-color: rgb(255, 209, 102);
}

#corporate .content {
    background-color: rgb(88, 204, 123);
}

/* FOOTER */

.footer {
    background-color: #535657;
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0 25vw;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2vh;
}

.footer-spacer {
    width: 5px;
    height: 4vh;
    background-color: white;
}

/* ORIGINAL HOMEPAGE */

.page-wrapper {
    background-color: rgb(245, 237, 237);
    pointer-events: all;
}

.invisible {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.homepage-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    z-index: -1;
    pointer-events: all;
}

.homepage-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-image {
    position: relative;
    margin-right: 10vw;
    width: 40vw;
}

.homepage-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.homepage-card {
    margin-left: 5vw;
    width: 35vw;
}

.homepage-card h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.homepage-card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-bottom: 5vh;
    font-weight: 300;
}

.homepage-card .hire-us {
    font-size: 24px;
}

.underline {
    padding: 0px 5px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(35,207,87,1) 25%, rgba(35,207,87,1) 35%, rgba(255,255,255,0) 35%);
}
