/* NAV */

.nav {
    top: 0vh;
    background-color: transparent;
    pointer-events: all;
}

.nav a {
    color: white;
}

/*  */

.parallax-wrapper {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    height: 100vh;
    position: relative;
    z-index: 100;
}

.header .h1-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,.3);
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 15vh;
    color: white;
}

.header img {
    height:100vh;
    width: 100vw;
    object-fit: cover;
}

.parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-1-wrapper {
    transform: translateZ(0);
    display: flex;
}

.image-1-wrapper {
    transform: translateZ(-1px) scale(2) translateX(39.5vw);
    display: flex;
}

.content-2-wrapper {
    transform: translateZ(0) translateX(60vw);
    display: flex;
}

.image-2-wrapper {
    transform: translateZ(-1px) scale(2) translateX(-.5vw);
    display: flex;
}

.content-3-wrapper {
    transform: translateZ(0);
    display: flex;
}

.image-3-wrapper {
    transform: translateZ(-1px) scale(2) translateX(39.5vw);
    display: flex;
}

.first {
    z-index: 3;
}

.second {
    z-index: 2;
}

.third {
    z-index: 1;
}

.content-1 {
    background-color: green;
    width: 40vw;
    z-index: 30;
}

.image-1 {
    background-color: blue;
    width: 60vw;
    z-index: 1;
}

.content-2 {
    background-color: yellow;
    width: 40vw;
    z-index: 30;
}

.image-2 {
    background-color: red;
    width: 60vw;
    z-index: 1;
}

.content-3 {
    background-color: orange;
    width: 40vw;
    z-index: 30;
}

.image-3 {
    background-color: purple;
    width: 60vw;
    z-index: 1;
}