* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(245, 237, 237);
}

.nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: rgb(245, 237, 237);
    z-index: 2;
}

.logo {
    margin-left: 5vw;
    flex: 5;
    font-family: 'Satisfy', cursive;
    display: flex;
    height: 10vh;
    align-items: center;
}

.logo img {
    height: 5vh;
    margin-right: 1vw;
    transform: rotateY(180deg);
}

.nav-list{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    flex: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 5vw;
}

a { 
    text-decoration: none;
    color: black;
    transition: color .25s ease;
}

a:hover {
    color: rgb(35, 207, 87);
}

.hire-us {
    background-color: rgb(212, 233, 217);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    text-decoration: none;
    color: rgb(26, 189, 75)!important;
    transition: color .25s ease, background-color .25s ease !important;
}

.hire-us:hover {
    color: white !important;
    background-color: rgb(88, 204, 123);
}